# SEMANA 03
Renzo Daniel Felix Alvarado

Temas:
    1. Números
    2. Variables
    3. Manejo de datos
    4. Ingreso de datos por Teclado
    5. Operadores

3. Manejo de Cadenas

In [2]:
cadena = "Universidad Nacional Tecnológica De Lima Sur"
cadena

'Universidad Nacional Tecnológica De Lima Sur'

In [3]:
#Universidad Nacional Tecnologica de Lima sur
#01234...................................-2-1

In [4]:
cadena[5]

'r'

In [5]:
cadena[10]

'd'

In [6]:
# Tambien considera los espacios en blanco

In [7]:
cadena[11]

' '

In [8]:
# ¿Qué me mostrara?

In [9]:
cadena[-5]

'a'

In [10]:
cadena[21]

'T'

In [11]:
# Tambien lo puedo mostrar accediendo de manera inversa

In [12]:
cadena[-23]

'T'

In [13]:
# Para mostrar una subcadena [desde, antes de]
# En Java era substring()

In [14]:
cadena[3:8]

'versi'

In [16]:
# Para saber el tamaño de una cadena utilizamos len()
# Incluye espacios en blanco

In [17]:
len(cadena)

44

In [18]:
# Para mostrar una cadena en mayúscula utilizamos upper()

In [19]:
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLÓGICA DE LIMA SUR'

In [21]:
# Ojo---- solo lo muestra, porque el original sigue siendo igual

In [22]:
cadena

'Universidad Nacional Tecnológica De Lima Sur'

In [27]:
# Si desearamos cambiarlo harias: cadena = cadena.upper()
cadena = cadena.upper()
cadena

'UNIVERSIDAD NACIONAL TECNOLÓGICA DE LIMA SUR'

In [28]:
# Para mostrar una cadena en minúscula utilizamos la función lower()
cadena.lower()

'universidad nacional tecnológica de lima sur'

In [29]:
# Generar una lista a partir de una cadena split()
cadena.split()

['UNIVERSIDAD', 'NACIONAL', 'TECNOLÓGICA', 'DE', 'LIMA', 'SUR']

In [31]:
# Generar  una listas utilizando un criterio a partir de una cadena.split()
# En este caso vamos a generar una lista de toda la cadena, utilizando como criterio de separación la letra "A".
cadena.split("A")

['UNIVERSID', 'D N', 'CION', 'L TECNOLÓGIC', ' DE LIM', ' SUR']

In [33]:
# Forma clasica, concatenar con +
nombre = "Renzo Daniel"
print(" Buenas Tardes " + nombre)

 Buenas Tardes Renzo Daniel

In [35]:
# Segunda forma de concatenar utilizando  el .format()
nombre = " Mario Lopez"
edad = 15
print("Hola {} ya se que tienes {} años".format(nombre,edad))

Hola  Mario Lopez ya se que tienes 15 años

In [37]:
# Dar formato a números con muchos decimales
resultado = 10/3
print("10/3 es = {}".format(resultado))
print("10/3 es = {r:1.3f}".format(r=resultado))

10/3 es = 3.3333333333333335
10/3 es = 3.333

In [39]:
# Dar formato  con f
# La funcion f, está disponible desde la fversion 3.6
nombre = "Lucía Camarena"
edad = 17
print(f"Buenos días {nombre}, ya se que tienes {edad} años")

Buenos días Lucía Camarena, ya se que tienes 17 años

In [40]:
# Dar formato a números con muchos decimales.
resultado = 10/3
print(f"10/3 es = {resultado}")
print(f"10/3 es = {resultado:1.3f}")

10/3 es = 3.3333333333333335
10/3 es = 3.333