# SEMANA 03
Renzo Daniel Felix Alvarado

Temas:
    1. Números
    2. Variables
    3. Manejo de datos
    4. Ingreso de datos por Teclado
    5. Operadores

5. Operadores

In [1]:
# 5.1. Operadores Aritméticos
# Se tiene +,-,*,/,**,%,//

In [9]:
numero1 = 13
numero2 = 4
suma = numero1 + numero2
resta = numero1 - numero2
multiplicacion = numero1 * numero2
division = numero1 / numero2
residuo = numero1 % numero2
cociente = numero1 // numero2
potencia = numero1 ** numero2
print(suma)
print(resta)
print(multiplicacion)
print(division)
print(residuo)
print(cociente)
print(potencia)

17
9
52
3.25
1
3
28561

In [10]:
# 5.2. Operadores de Asignación
# Se tiene: =, +=, -=, *=, /=, **=

In [11]:
numero = 5
numero = numero + 3
print(numero)

8

In [13]:
# La operación anterior tambien se puede expresar de la siguiente manera:
numero = 5
numero += 3
print(numero)

8

In [14]:
# Lo mismo se puede hacer con todos los casos, incluso la potencia:
#Ejemplo:
numero = 5
numero = numero ** 3
print(numero)

125

In [15]:
numero = 5
numero **= 3
print (numero)

125

In [16]:
# 5.3. Operadores de comparación
# Se tiene: ==, !=, <, >, <=, >=

In [17]:
#Ejemplo de igualdad:
numero1 = 5
numero2 = 3
numero1 == numero2

False

In [18]:
# Ejemplo de cadenas
nombre1 = "Juan"
nombre2 = "Juan"
nombre1 == nombre2

True

In [19]:
# 5.4. Operadores Lógicos
# Se tiene and, or, not
numero1 = 5 
numero2 = 6
numero3 = 7
numero4 = 8

In [20]:
numero1 < numero2

True

In [21]:
# El not invierte el resultado
not(numero1<numero2)

False

In [22]:
numero1<numero2 and numero3<numero4

True

In [23]:
# Tambien puedo utilizar parentesis para ordenar un operador
(numero1<numero2 and numero3<numero4) or (numero3>numero4)

True

In [24]:
# 5.5. Operadores de Pertenece
# Se tiene: in, not in

In [25]:
# Miremos un ejemplo
aula = ["Juan", "Daniel", "Rubén"]
alumno1 = "Diego"
alumno2 = "Juan"

In [26]:
# ¿Diego esta en aula?
alumno1 in aula

False

In [27]:
# ¿Juan esta en aula?
alumno2 in aula

True

In [28]:
# ¿Diego no esta en aula?
alumno1 not in aula

True

In [29]:
# ¿Diego no esta en aula?
alumno2 not in aula

False

In [30]:
# 5.6. Operadores  de Identidad
# Se tiene: is, is not

In [31]:
aula1 = ["Juan", "Daniel", "Ruben"]
aula2 = ["Juan", "Daniel", "Ruben"]

# A continuación vamos a indicar que aula3 va compartir el mismo objeto que aula1
aula3 = aula1

In [32]:
# ¿aula3 comparte el objeto que el aula1?
aula3 is aula1

True

In [33]:
# ¿aula3 comparte el objeto que el aula2?
aula3 is aula2

False

In [34]:
aula1.append("Diego")

In [35]:
# Al imprimir los elementos de la lista aula1 se observa
print(aula1)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [36]:
# Al imprimir los elementos de la lista aula3 se observa
print(aula3)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [37]:
# Al imprimir los elementos de la lista aula3 se observa
print(aula2)

['Juan', 'Daniel', 'Ruben']